<!doctype html>
<html>
<head>
	<title>Manashield</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" href="app.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="js/frontpage.js"></script>
</head>
<body style="background-image: url('img/bordure2.png');background-size: 100% 100%;background-attachment:fixed;" ng-app="manashield">
	<div class="col-sm-6 col-sm-offset-3 main-col">

		<div class="row header">
			<img class="img-left" src="img/home.png">
			<img class="img-right" src="img/games.png">
		</div>

		<div class="row image-row">
			<img src="img/manashield.png" width="100%">
		</div>

		<div class="row inner-row" ng-controller="frontpage">

			<div class="row under-row" ng-repeat="game in gameList">
				<a href="http://ensminecraft.manashield.fr/jsh">
					<div class="col-sm-4 col-sm-offset-1 polaroid" ng-mouseover="game[0].descHide=false" ng-mouseleave="game[0].descHide=true" ng-init="game[0].descHide=true">
						<div class="row">
							<img class="centre" src="{{game[0].imgUrl}}" width="100%">
						</div>
						<div class="row" style="text-align: center">
							<h1>{{game[0].title}}</h1>
							<p>
								{{game[0].shortDesc}}
							</p>
							<div ng-hide="game[0].descHide">
								<p>
									{{game[0].desc}}
								</p>
								<p>
									Controls : 
									<ul>
										<li ng-repeat="control in game[0].controls">{{control}}</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</a>

				<a href="http://ensminecraft.manashield.fr/thex">
					<div class="col-sm-4 col-sm-offset-1 polaroid" ng-mouseover="game[1].descHide=false" ng-mouseleave="game[1].descHide=true" ng-init="game[1].descHide=true">
						<div class="row">
							<img class="centre" src="{{game[1].imgUrl}}" width="100%">
						</div>
						<div class="row" style="text-align: center">
							<h1>{{game[1].title}}</h1>
							<p>
								{{game[1].shortDesc}}
							</p>
							<div ng-hide="game[1].descHide">
								<p>
									{{game[1].desc}}
								</p>
								<p>
									Controls : 
									<ul>
										<li ng-repeat="control in game[1].controls">{{control}}</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</a>
			</div>

		</div>
	</div>
</body>
</html>